<section id="attivita-detail">
    <div class="page-header">
        <h1>Attività<div class="actionbar pull-right" ng-include src="'views/_buttons_entity_edit.html'"></div></h1>
    </div>

    <h2 ui-if="a">Dettaglio attivita {{a.nome}}
        <p class="lead">Per modificare questa attività, clicca sul pulsante "Modifica".</p>
    </h2>

    <div class="row">
        <p class="span2"><strong>Codice</strong></p>
        <p class="span6">{{a.codice}}</p>
    </div>
    <div class="row">
        <p class="span2"><strong>Nome</strong></p>
        <p class="span6">{{a.nome}}</p>
    </div>
    <div class="row">
        <p class="span2"><strong>Tipo attività</strong></p>
        <p class="span6">{{a.tipo_attivita.descrizione}}</p>
    </div>
    <div class="row">
        <p class="span2"><strong>Partita IVA</strong></p>
        <p class="span6">{{a.piva}}</p>
    </div>
    <div class="row">
        <p class="span2"><strong>Franchising</strong></p>
        <p class="span6">{{a.franchising | bool:["Sì","No"]}}</p>
    </div>
    <div class="row">
        <p ui-if="a.franchising" class="span2"><strong>Manager</strong></p>
        <p ui-if="!a.franchising" class="span2"><strong>Proprietario</strong></p>
        <p class="span6"><a ui-if="a.manager" ng-href="#{{mDipendenti.mainUrl()}}/{{a.manager.id}}"><span>{{a.manager.nome_cognome}}</span></a></p>
    </div>
    <div class="row">
        <p class="span2"><strong>Numero dipendenti</strong></p>
        <p class="span6">{{a.num_dip}}</p>
    </div>
    <div class="row">
        <p class="span2"><strong>Struttura</strong></p>
        <p class="span6">
            <span ui-if="a.struttura.tipo.codice && a.struttura.id">({{a.struttura.tipo.codice + '-' + a.struttura.id}})</span>
            <span>{{a.struttura.codice}}</span>
            <span ui-if="a.struttura.tipo.codice == 'E' && a.piano">Piano {{a.piano}}</span>
        </p>
    </div>

    <h3><div class="actionbar pull-right" ng-include src="'views/_buttons_entity_new.html'"></div>Lista delle assunzioni
        <p class="lead">Per licenziare un dipendente o modificare i dettagli dell'assunzione, selezionarne una dalla lista sottostante.
            Puoi assumere il dipendente cliccando sul pulsante "Nuovo".
        </p>
    </h3>

    <!-- Referenza alla partial della lista delle assunzioni in base ad un ID di attività. -->
    <div ng-include src="'views/_select_assunzione.html'"></div>
</section>