<form class="form-horizontal" name="formEditStruttura">
    <div class="control-group" ng-class="controlGroupStatus(formEditStruttura.inputCodice.$valid)">
        <label class="control-label" for="inputCodice">Codice</label>
        <div class="controls">
            <input type="text" name="inputCodice" id="inputCodice" disabled ng-model="s.cod">
            <span class="help-inline">Valore non modificabile, auomaticamente generato.</span>
        </div>
    </div>
    <div class="control-group" ng-class="controlGroupStatus(formEditStruttura.inputDescrizione.$valid)">
        <label class="control-label" for="inputDescrizione">Descrizione</label>
        <div class="controls">
            <input type="text" name="inputDescrizione" id="inputDescrizione"
                   placeholder="Descrizione" ng-model="s.codice"
                   ng-required="true" ng-disabled="locked">
            <span class="help-inline">Campo obbligatorio.</span>
        </div>
    </div>
    <div class="control-group" ng-class="controlGroupStatus(formEditStruttura.selectTipo.$valid)">
        <label class="control-label" for="selectTipo">Tipo struttura</label>
        <div class="controls">
            <select ng-model="s.tipo.id" name="selectTipo" id="selectTipo"
                    ng-options="t.id as t.descrizione for t in tipi"
                    required ng-disabled="locked"></select>
            <span class="help-inline">Campo obbligatorio.</span>
        </div>
    </div>
</form>