<section id="struttura-detail">
    <div class="page-header">
        <h1>Struttura<div class="actionbar pull-right" ng-include src="'views/_buttons_entity_edit.html'"></div></h1>
    </div>
    <h2 ui-if="s">Dettaglio struttura {{s.tipo.codice + '-' + s.id}}
        <p class="lead">Per modificare questa struttura, clicca sul pulsante "Modifica".</p></h2>

    <div class="row">
        <p class="span2"><strong>Codice</strong></p>
        <p class="span6">{{s.tipo.codice + '-' + s.id}}</p>
    </div>
    <div class="row">
        <p class="span2"><strong>Descrizione</strong></p>
        <p class="span6">{{s.codice}}</p>
    </div>
    <div class="row">
        <p class="span2"><strong>Tipo struttura</strong></p>
        <p class="span6">{{s.tipo.descrizione}}</p>
    </div>

    <h3><div class="actionbar pull-right" ng-include src="'views/_buttons_entity_new.html'"></div>Attività presenti nella struttura
        <p class="lead">Per visualizzare o modificare le attività presenti in questa struttura, selezionarne una dalla lista sottostante.
            Puoi aggiungere una attività cliccando sul pulsante "Nuovo".</p>
    </h3>

    <!-- TODO: Referenza alla partial della lista delle attività, filtrate sull'ID della struttura. -->
    <div ng-include src="'views/_select_attivita.html'"></div>

</section>