/**
 * Created with JetBrains WebStorm.
 * User: francescopontillo
 * Date: 15/02/13
 * Time: 19:36
 */
/* line 9, ../../app/styles/index.scss */
.index-menu-item h2 {
  text-align: center;
  font-weight: 200;
}
/* line 13, ../../app/styles/index.scss */
.index-menu-item p:nth-child(3) {
  text-align: center;
}
