/**
 * Created with JetBrains WebStorm.
 * User: francescopontillo
 * Date: 15/02/13
 * Time: 17:05
 */
/* line 10, ../../app/styles/my-bootstrap.scss */
.hero-unit.big-hero-unit {
  text-align: center;
  padding: 30px;
}
/* line 13, ../../app/styles/my-bootstrap.scss */
.hero-unit.big-hero-unit h1 {
  font-size: 60px;
}

/**
 * Created with JetBrains WebStorm.
 * User: francescopontillo
 * Date: 15/02/13
 * Time: 17:41
 */
/* line 8, ../../app/styles/app-style.scss */
body {
  padding-top: 70px;
  background-color: #f5f5f5;
}

/**
 * Created with JetBrains WebStorm.
 * User: francescopontillo
 * Date: 15/02/13
 * Time: 19:36
 */
/* line 9, ../../app/styles/index.scss */
.index-menu-item h2 {
  text-align: center;
  font-weight: 200;
}
/* line 13, ../../app/styles/index.scss */
.index-menu-item p:nth-child(3) {
  text-align: center;
}

/**
 * Created with JetBrains WebStorm.
 * User: francescopontillo
 * Date: 15/02/13
 * Time: 19:28
 */
/* line 8, ../../app/styles/login.scss */
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 21, ../../app/styles/login.scss */
.form-signin div.for-alert {
  margin-top: 20px;
}
/* line 23, ../../app/styles/login.scss */
.form-signin div.for-alert .close {
  display: none;
}
