/**
 * Created with JetBrains WebStorm.
 * User: francescopontillo
 * Date: 15/02/13
 * Time: 19:36
 */

.index-menu-item {
  h2 {
    text-align: center;
    font-weight: 200;
  }
  p:nth-child(3) {
    text-align: center;
  }
}