<!-- AttivitaListCtrl contiene tutte le informazioni per la ricerca delle attività -->
<!-- Il click sulla lista è gestito da handleListClick(assunzione) -->
<!-- L'href è gestito dalla funzione handleListLink(assunzione) -->
<div ng-controller="AssunzioneListCtrl">
    <h2 ui-if="!attivitaForAssunzioneList && !dipendenteForAssunzioneList">Ricerca assunzioni</h2>

    <!-- La ricerca testuale è disabilitata per le assunzioni: non serve!
    <form class="input-prepend input-append">
        <span class="add-on">Cerca per nome attività:</span>
        <input class="input-large" type="text" ng-model="cercaAttivita">
        <button class="btn" type="submit" ng-click="restartSearch()">Cerca</button>
    </form>
    -->

    <p ui-if="assunzioni.count == 0">Nessuna assunzione ritrovata.</p>
    <p ui-if="searching">Ricerca in corso...</p>
    <div id="assunzione-table-pagination" ng-show="assunzioni.list">
        <table id="assunzione-table" class="table table-hover table-clickable" data-provides="rowlink">
            <thead>
            <tr>
                <th ng-show="showDipendente">Cognome</th>
                <th ng-show="showDipendente">Nome</th>
                <th ng-show="showAttivita">Attività</th>
                <th>Data assunzione</th>
                <th>Data licenziamento</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ass in assunzioni.list">
                <td ng-show="showDipendente" ng-click="handleListClick(ass)"><a ng-href="{{handleListLink(ass)}}">{{ ass.dipendente.cognome }}&nbsp;</a></td>
                <td ng-show="showDipendente" ng-click="handleListClick(ass)"><a ng-href="{{handleListLink(ass)}}">{{ ass.dipendente.nome }}&nbsp;</a></td>
                <td ng-show="showAttivita" ng-click="handleListClick(ass)"><a ng-href="{{handleListLink(ass)}}">{{ ass.attivita.nome }}&nbsp;</a></td>
                <td ng-click="handleListClick(ass)"><a ng-href="{{handleListLink(ass)}}">{{ ass.data_assunzione | date:'shortDate' }}&nbsp;</a></td>
                <td ng-click="handleListClick(ass)"><a ng-href="{{handleListLink(ass)}}">{{ ass.data_licenziamento | date:'shortDate' }}&nbsp;</a></td>
            </tr>
            </tbody>
        </table>
        <pagination num-pages="assunzioni.pages" current-page="page" max-size="10"
                    on-select-page="selectPage(page)" next-text="Avanti" prev-text="Indietro"></pagination>
    </div>
</div>