<form class="form-horizontal" name="formEditAssunzione">
    <div class="control-group" ng-class="controlGroupStatus(formEditAssunzione.inputDipendente.$valid)">
        <label class="control-label" for="inputDipendente">Dipendente</label>
        <div class="controls">
            <div class="input-append">
                <input type="text" name="inputDipendente" id="inputDipendente"
                       ng-model="a.dipendente.nome_cognome" ng-disabled="true" ng-required="true">
                <button type="button" class="btn" ng-disabled="locked || !canChangeDipendente" ng-click="selectDipendente()"><i class="icon-edit"></i></button>
            </div>
            <span class="help-inline">Cliccare sull'apposito pulsante per selezionare il dipendente.</span>
        </div>
    </div>
    <div class="control-group" ng-class="controlGroupStatus(formEditAssunzione.inputAttivita.$valid)">
        <label class="control-label" for="inputAttivita">Attività</label>
        <div class="controls">
            <div class="input-append">
                <input type="text" name="inputAttivita" id="inputAttivita"
                       ng-model="a.attivita.nome" ng-disabled="true" ng-required="true">
                <button type="button" class="btn" ng-disabled="locked || !canChangeAttivita" ng-click="selectAttivita()"><i class="icon-edit"></i></button>
            </div>
            <span class="help-inline">Cliccare sul pulsante per selezionare l'attività.</span>
        </div>
    </div>
    <div class="control-group" ng-class="controlGroupStatus(formEditAssunzione.inputDataAssunzione.$valid)">
        <label class="control-label" for="inputDataAssunzione">Data di assunzione</label>
        <div class="controls">
            <div class="input-append">
                <input type="text" name="inputDataAssunzione" id="inputDataAssunzione" placeholder="Data di assunzione"
                       ng-model="a.data_assunzione"
                       ng-required="true" ng-disabled="locked" date="{filter:'dd/MM/yyyy', parse:'DD/MM/YYYY'}"
                       data-date-format="dd/mm/yyyy" bs-datepicker>
                <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
            </div>
            <span class="help-inline">Campo obbligatorio.</span>
        </div>
    </div>
    <div class="control-group" ng-class="controlGroupStatus(formEditAssunzione.inputDataLicenziamento.$valid)">
        <label class="control-label" for="inputDataLicenziamento">Data di licenziamento</label>
        <div class="controls">
            <div class="input-append">
                <input type="text" name="inputDataLicenziamento" id="inputDataLicenziamento" placeholder="Data di licenziamento"
                       ng-model="a.data_licenziamento" ng-disabled="locked" date="{filter:'dd/MM/yyyy', parse:'DD/MM/YYYY'}"
                       data-date-format="dd/mm/yyyy" bs-datepicker>
                <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
            </div>
            <span class="help-inline"></span>
        </div>
    </div>
</form>