<form class="form-horizontal" name="formEditDipendente">
    <div class="control-group" ng-class="controlGroupStatus(formEditDipendente.inputCognome.$valid)">
        <label class="control-label" for="inputCognome">Cognome</label>
        <div class="controls">
            <input type="text" name="inputCognome" id="inputCognome"
                   placeholder="Cognome" ng-model="d.cognome"
                   ng-required="true" ng-disabled="locked">
            <span class="help-inline">Campo obbligatorio.</span>
        </div>
    </div>
    <div class="control-group" ng-class="controlGroupStatus(formEditDipendente.inputNome.$valid)">
        <label class="control-label" for="inputNome">Nome</label>
        <div class="controls">
            <input type="text" name="inputNome" id="inputNome"
                   placeholder="Nome" ng-model="d.nome"
                   ng-required="true" ng-disabled="locked">
            <span class="help-inline">Campo obbligatorio.</span>
        </div>
    </div>
    <div class="control-group" ng-class="controlGroupStatus(formEditDipendente.inputCf.$valid)">
        <label class="control-label" for="inputCf">Codice Fiscale</label>
        <div class="controls">
            <input type="text" name="inputCf" id="inputCf"
                   placeholder="Codice fiscale" ng-model="d.cf"
                   ng-required="true" ng-disabled="locked">
            <span class="help-inline">Campo obbligatorio.</span>
        </div>
    </div>
    <div class="control-group" ng-class="controlGroupStatus(formEditDipendente.inputData.$valid)">
        <label class="control-label" for="inputData">Data di nascita</label>
        <div class="controls">
            <div class="input-append">
                <input type="text" name="inputData" id="inputData" placeholder="Data di nascita"
                       ng-model="d.data_nascita"
                       ng-required="true" ng-disabled="locked" date="{filter:'dd/MM/yyyy', parse:'DD/MM/YYYY'}"
                       data-date-format="dd/mm/yyyy" bs-datepicker>
                <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
            </div>
            <span class="help-inline">Campo obbligatorio.</span>
        </div>
    </div>
    <div class="control-group" ng-class="controlGroupStatus(formEditDipendente.inputLuogo.$valid)">
        <label class="control-label" for="inputLuogo">Luogo di nascita</label>
        <div class="controls">
            <input type="text" name="inputLuogo" id="inputLuogo"
                   placeholder="Luogo di nascita" ng-model="d.luogo_nascita"
                   ng-disabled="locked">
            <span class="help-inline"></span>
        </div>
    </div>
    <div class="control-group" ng-class="controlGroupStatus(formEditDipendente.selectSesso.$valid)">
        <label class="control-label" for="selectSesso">Sesso</label>
        <div class="controls">
            <select ng-model="d.sesso" name="selectSesso" id="selectSesso"
                    ng-options="s for s in sessi"
                    required ng-disabled="locked"></select>
            <span class="help-inline">Campo obbligatorio.</span>
        </div>
    </div>
</form>